@import "model";

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
"ＭＳ Ｐ明朝", "MS PMincho", serif, "Noto Serif JP";
  font-size: 16px;
  max-width: $max-width;
}

header {
  z-index: 10;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  color: $header-white;
  font-weight: 800;
  .header-logo {
    width: 200px;
    height: 40px;
    margin-left: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .header-menu {
    line-height: calc(42/16);
    margin-left: 90px;
    ul {
      display: flex;
      li {
        margin-left: 30px;
      }
    }
  }

  .header-reserve {
    margin-left: auto;
    &__btn {
      width: 170px;
      height: 54px;
      margin-right: 20px;
      background-color: #978F10;
      color: $header-white;
      display: flex;
      align-items: center;
      img {
        margin-left: 37px;
      }
      &-text {
        margin-left: 10px;
      }
    }
  }
}

.header-active {
  background-color: #FFFFFF;
  color: #000000;
}

section {
  width: 100%;
}

// セクションファーストビュー
$first-view-height: 1079px;
.first-view {
  height: 100vh;
  max-height: $first-view-height;
  position: relative;
  p {
    height: 100%;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 2.125rem;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1.235;
    letter-spacing: 10px;
    position: absolute;
    top: ratioAsk(361px, $first-view-height);
    left: ratioAsk(1285px, $max-width);
    span {
      display: block;
      margin-right: 43px;
    }
  }
  &__img {
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// セクションコンセプト
$top-concept-height: 681px;
$top-concept-box-width: 1180px;
.top-concept {
  height: auto;
  max-height: $top-concept-height;
  background-image: url(../img/background/bg.png);
  background-size: cover;
  &__box {
    font-weight: normal;
    height: 100%;
    width: 62%;
    min-width: $top-concept-box-width;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 auto;
    h2 {
      margin-top: ratioAsk(64px, $top-concept-height);
      margin-right: ratioAsk(101px, $top-concept-height);
      font-size: 1.75rem;
      line-height: 1.5;
      letter-spacing: 0.6em;
      color: $font-black;
      span {
        display: block;
        margin-top: ratioAsk(85px, $top-concept-height);
        margin-right: 19px;
      }
    }
    p {
      letter-spacing: 0.35em;
      margin-top: ratioAsk(149px, $top-concept-height);
      margin-right: 112px;
      line-height: 1.375;
      span {
        display: block;
        margin-right: 16px;
      }
    }
  }
  .signature {
    margin-top: ratioAsk(443px, $top-concept-height);
    margin-right: 110px;
    font-size: 1.35rem;
    line-height: 1.45;
  }
}

// セクショントップメニュー
$top-menu-height: 128.9375rem;
.top-menu {
  height: $top-menu-height;
  width: 100%;
  padding-bottom: ratioAsk(78px, $max-width);
  .menu-one {
    padding-top: 5.5643% !important;
    margin-top: 0;
  }
  &__content {
    width: 100%;
    height: 28.60892%;
    display: flex;
    font-weight: normal;
    margin-top: 6.4042%;
    .left-img {
      margin-top: 19px;
      margin-left: ratioAsk(137px, $max-width);
    }
    .right-btn {
      margin-top: 67px;
    }
    .left-btn {
      margin-top: 35px;
    }
    .center-img {
      margin-left: auto;
      margin-right: ratioAsk(210px, $max-width);
    }
    img {
      width: 54.6875%;
      height: 100%;
      object-fit: cover;
    }
    &-text {
      color: $font-black;
      h2 {
        font-size: 2.25rem;
        line-height: 1.72;
      }
      p{
        line-height: 2;
        font-size: 1rem;
        margin-top: ratioAsk(54px, 545px);
      }
    }
  }
}

// メニューボタン
.about-btn {
  display: flex;
  width: 200px;
  height: 56px;
  align-items: center;
  border: solid 1px #707070;
  span {
    display: block;
    margin: 0 auto;
  }
}

.logo {
  margin-top: ratioAsk(60px, $max-width);
}

// セクションプラン
$top-plan-height: 777px;
.top-plan {
  height: $top-plan-height;
  background-image: url(../img/background/bg02.png);
  color: $font-black;
  &__content {
    height: 100%;
    width: 62%;
    min-width: 1180px;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-top: 24px;
      font-size: 2.25rem;
      line-height: 0.88;
    }
    &-flexbox {
      display: flex;
      justify-content: center;
      margin-top: ratioAsk(66px, $max-width);
      .plan-box {
          margin-right: ratioAsk(94px, $max-width);
          text-align: left;
        &__img {
          height: auto;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          font-size: 1.25rem;
          line-height: 1.6;
          font-weight: 100;
          margin-top: ratioAsk(26px, $max-width);
        }
        p {
          line-height: 2;
          margin-top: 18px;
        }
      }
    }
  }
}

// マージンライトclear
.margin-clear {
  margin-right: 0 !important;
}

//セクションinfo
$top-info-height: 697px;
$top-info-content-width: 1180px;
.top-info {
  color: $font-black;
  margin-bottom: ratioAsk(60px, $max-width);
  &__content {
    height: $top-info-height;
    width: ratioAsk($top-info-content-width, $max-width);
    min-width: $top-info-content-width;
    text-align: center;
    margin: auto;
    h2 {
      margin-top: 24px;
      font-size: 2.25rem;
      line-height: 0.88;
    }
    .tab-menu {
      line-height: 1;
      margin-top: 44px;
      ul {
        display: flex;
        justify-content: center;
        li {
          margin-right: 53px;
        }
        .active {
          border-bottom: solid 1px #707070;
        }
      }
    }
    &-list {
      margin-top: 28.5px;
      ul {
        display: none;
        li {
          width: ratioAsk(570px, $top-info-content-width);
          height: 130px;
          margin-top: ratioAsk(20px, $top-info-content-width);
          background-color: #F6F6F6;
          display: flex;
          text-align: left;
          .box {
            width: 100%;
          }
          img {
            width: ratioAsk(103px, 570px);
            height: ratioAsk(100px, 130px);
            margin-left: ratioAsk(10px, 570px);
            margin-top: ratioAsk(15px, 570px);
          }
          p {
            margin-left: ratioAsk(30px, 570px);
            margin-right: ratioAsk(39px, 570px);
          }
        }
      }
      .date {
        font-size: 0.875rem;
        line-height: 2.285;
        margin-top: 6px;
      }
      .text {
        line-height: 2;
      }
      .show {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}

$top-access-height: 1381px;
.top-access {
  height: $top-access-height;
  background-image: url(../img/background/bg-access.png);
  &__content {
    width: 100%;
    height: 100%;
    text-align: center;
    h2 {
      margin-top: ratioAsk(24px, $max-width);
      font-size: 2.25rem;
      line-height: 0.88;
    }
    .infomation {
      height: ratioAsk(370px, $top-access-height);
      width: 100%;
      display: flex;
      margin-top: ratioAsk(84px, $max-width);
      justify-content: center;
      img {
        width: ratioAsk(666px, 1537.906px);
        max-width: 656px;
        height: 100%;
        object-fit: cover;
      }
      address {
        text-align: left;
        margin-left: ratioAsk(83px, 1537.906px);
        margin-top: 4px;
        line-height: 2;
        h3 {
          font-weight: 800;
          margin-top: 8px;
        }
        .address-title {
          margin-top: 0;
        }
        p {
          margin-top: 8px;
        }
      }
    }
    .map {
      height: ratioAsk(592px, $top-access-height);
      max-height: 592px;
      width: 100%;
      margin-top: ratioAsk(69px, $max-width);
      iframe {
        height: 100%;
        width: 41.25%;
        min-width: 792px;
      }
    }
  }
}

$footer-height: 582px;
footer {
  width: 100%;
  height: auto;
  max-height: $footer-height;
  text-align: center;
  .footer {
    height: ratioAsk(522px, $footer-height);
    background-image: url(../img/background/bg3.png);
    padding-bottom: ratioAsk(61px, $max-width);
    &-menu {
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding-top: ratioAsk(64px, $max-width);
      font-size: 1.125rem;
      line-height: 1.777;
      li {
        writing-mode: vertical-rl;
        margin-right: 20px;
        letter-spacing: 15px;
      }
    }
    &-address {
      margin-top: ratioAsk(72px, $max-width);
      address {
        ul {
          display: flex;
          justify-content: center;
          li {
            margin-right: 20px;
          }
        }
        .address-info {
          letter-spacing: 0.18em;
        }
        .phone-info {
          margin-top: 23px;
        }
      }
    }
  }
  .footer-copyright {
    font-size: 0.75rem;
    line-height: 2;
    color: #FFFFFF;
    background-color: #000000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}